/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 1px; /* Adjust the width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Scrollbar track color */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Scrollbar thumb color */
    border-radius: 10px; /* Scrollbar thumb rounded corners */
    border: 3px solid transparent; /* Add a transparent border to add some padding around the thumb */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3; /* Scrollbar thumb hover color */
  }
  
  /* Firefox custom scrollbar styles */
  .custom-scrollbar {
    scrollbar-width: thin; /* "auto" or "thin" */
    /* scrollbar-width: thin;  */
    scrollbar-width: 1px;
    scrollbar-color: #fafafa transparent; /* Scrollbar thumb and track color */
  }
  